<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CreateML</title>
    <link href="/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col col-10">
            <h5 class="tomieqFont float-end mt-3"> AI Tool</h5>
            <h1 class="tomieqFont">CreateML Annotations</h1>
            
            <hr>
            </div>
        </div>
        <div class="row">
            <div class="col col-10">
                [START error]
                <div class="alert alert-danger" role="alert">
                  {error}
                </div>
                [END error]
                {content}
                <div style="position: relative;">
                    <div id="imageContainer">
                        <img src="pic.jpg" id="picture" class="absolute"/>
                        <div class="frame absolute" style="left: 739px; top: 499px; width: 1205px; height: 735px;">
                            <div class="counter">1</div>
                        </div>
                    </div>
                    <div id="formContainer">
                        <form method="post">
                            <div class="counter" style="float: left;">1</div>
                            <input class="form-control-sm" type="text" placeholder="label" />
                            <input type="hidden" name="left" value="739" />
                            <input type="hidden" name="top" value="499" />
                            <input type="hidden" name="width" value="1205" />
                            <input type="hidden" name="height" value="735" />
                            <input type="submit" class="btn btn-sm btn-primary" value="Save"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/jquery-1.11.1.min.js"></script>
    <script src="/script.js"></script>
    <script src="/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>
        setup();
    </script>
  </body>
</html>

